<h1>目的一覧</h1>
<table>
  <thead>
    <tr>
      <th>目的名</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @purposes.each do |purpose| %>
    <tr>
      <th>
        <%= link_to mokuteki_index_spot_path(purpose.id) do %>
        <%= purpose.name %>
        <% end %>
      </th>
    </tr>
    <% end %>
  </tbody>
</table>