<h1 class="text-center">エリア一覧</h1>
<div class="album">
  <div class="container">
    <div class="row">
      <% @areas.each do |area| %>
      <div class="col-md-4">
        <div class="card md-4">
          <div class="card-imag-top text-center">
            <%= link_to area_path(area.id) do %>
            <%= attachment_image_tag area, :image, fallback: "no_image.jpg", size: '200x150' %>
            <% end %>
          </div>
          <div class="card-body">
            <p class="text-center">
              <%= area.name %>
            </p>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>