<h1>エリア一覧</h1>
<table>
  <thead>
    <tr>
      <th>エリア名</th>
    </tr>
  </thead>
  <tbody>
    <% @areas.each do |area| %>
    <tr>
      <th>
        <%= link_to area_path(area.id) do %>
        <%= attachment_image_tag area, :image, :fill, 50, 50, fallback: "no_image.jpg" %>
        <%= area.name %>
        <% end %>
      </th>
    </tr>
    <% end %>
  </tbody>
</table>