/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/*フォント*/
@font-face {
  font-family: “ai”;
  src: url('/assets/AiharaHudemojiKaisho3.00') format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: “bi”;
  src: url('/assets/001Shirokuma-Regular') format("truetype");
  font-weight: normal;
  font-style: normal;
}

h1,h2,h3 {
  font-family: “bi”;
}

/*基本*/
 html {
 height: 100%;
 }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main {
  padding-bottom: 50px;
  padding-top: 20px;
}

/*ヘッダー*/
header {
  width: 100%;
  padding: 15px 0;
  margin: 0 auto;
 }

.nav {
  padding: 10px 0;
  display: inline-block;
  vertical-align: bottom;
  margin: 0 auto;
}

.log {
  margin-right: 30px;
}
.nav-list {
  font-family: “ai”;
  font-size: 20px;
  margin: 20px;
  padding-top: 25px;
 }
 

/*フッター*/

footer {
	height: 40px;
	width: 100%;
	position: absolute;
	bottom: 0;
	text-align: center;
}

/*メイン*/
body{
  width: 100%;
  position: relative;
  min-height: 100%;
  background-image: image-url("back.jpeg");
}

/*top aboutページ*/
.top {
  font-family: “bi”;
  text-align: center;
  margin-top: 80px;
}

.top1 {
  font-family: “bi”;
  font-size: 25px;
  display: flex;
  justify-content: center;
  margin: 50px 50px
}

.top2 {
  font-family: “bi”;
  margin: 50px 50px
}

.link {
  text-decoration: none;
}

.about {
  font-family: “bi”;
}

.about1 {
  font-family: “bi”;
  margin: 0 auto;
  font-size: 20px;
}

.image1 {
  background-image: image-url("image1.jpg");
}
.image2 {
  background-image: image-url("image2.jpg");
}
.image3 {
  background-image: image-url("image3.jpg");
}
.image4 {
  background-image: image-url("image4.jpg");
}
.image5 {
  background-image: image-url("image5.jpg");
}

#container{
  height: 350px;
  width : 60%;
  margin: 0 auto;

}
// 詳細ページ
.col-md-4 {
  position: relative;
  padding: 20px 30px;
}

#purpose {
  padding-top: 70px;
}

#user1 {
  padding: 30px 0px;
}

.pagination {
  padding-top: 20px;
  justify-content: center;
}

#spot1 {
  padding: 10px 0px 0px;
  text-align: right;
}

#center {
  text-align: center;
}

.iine {
  text-align: right;
}

@import "bootstrap";