 <h2 class="about pb-5 text-center">京都観光情報サイト</h2>
  <div id="container">
    <div id="theTarget">
      <div class="image1"></div>
      <div class="image2"></div>
      <div class="image3"></div>
      <div class="image4"></div>
      <div class="image5"></div>
    </div>
  </div>
  
  <div class="about pt-5 pb-5">
      <h4 id="center">
      京都観光のおすすめスポットを紹介しています。<br>
      気になるスポットをお気に入りすることや、実際に訪れた人の感想を投稿することができます。
      </h4>
  </div>
  <% if user_signed_in? %>
  <% else %>
  <div class="container pt-3">
    <div class="row">
      <span class="about1">
        新規登録の方は
        <%= link_to "こちら",new_user_registration_path,class:"link" %>
      </span>
      <span class="about1">
        ログインは
        <%= link_to "こちら",new_user_session_path,class:"link" %>
      </span>
    </div>
  </div>
  <% end %>
