<div class="top"><h1 style="font-size: 100px;">京へようこそ</h1></div>
<div class="about">
 <div class="about-a"><%= link_to "ログイン",new_user_session_path,class:"link" %></div>
 <div class="about-a"><%= link_to "新規登録",new_user_registration_path,class:"link" %></div>
</div>
<div class="about">
 <p>
   新規登録の方は
   <%= link_to "こちら",new_user_registration_path,class:"link" %>
 </p>
</div>